body {
	height: 100%;
}

#printOutHtml {
	text-align: center;
}

#duckDiv {
	position: absolute;
	margin-left: 33%;	
}

#duckImg {
	display: block; 
	height:33; 
	width: 33%; 
	margin-top: auto; 
	margin-bottom: auto; 
	margin-left: auto; 
	margin-right: auto;
}

#leftDiv {
	float: left;
	margin-top:20%;
}

#leftDiv p {
	font-family: "Brush Script MT", cursive;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
	margin-top: 10px;
	position: absolute;
}